body, html {
	margin: 0;
	padding: 0;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	overflow: hidden;
}

.text {
	z-index: 2;
	position: absolute;
	background: rgba(51, 0, 255, 0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: monospace;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	padding-top: 20%;

}